@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Sofia+Sans+Condensed:ital,wght@1,100&display=swap');
/* Não utilizar mais de um import de fonte */
body{
    background-color: #96A7AE;
}
h1{
    color: #2B5344;
    font-family: 'Playfair Display', serif;
}
h2{
    color: #2B5344;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.primeiro{
    color: #000;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 150%;
}
.segundo{
    color: #2B5344;
}
.terceiro{
    color: #2B5344;
}